{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Packet Corruption Settings
          </h1>
      </div>
  </div>
  <!-- /.row -->


  <form class="form-horizontal" action="{{ url_for('tc_corruption') }}" method="post" role="form">
    <div class="form-group">
      <label for="cor" class="col-sm-4 control-label">Packet Loss in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="cor" id="cor" value="{{ corruption }}" step="any">
      </div>
      <div class="col-sm-6">
        <input id="corruption" data-slider-id='corruption-slider' type="number" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="{{ corruption }}"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" name="action" value="set">Set</button>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-danger btn-block" name="action" value="reset">Reset</button>
      </div>
    </div>
  </form>
  <script type="text/javascript">
    var corval = 0;

    window.onload = function () {
      var corSlider = $('#corruption').slider({
      	formatter: function(value) {
          if (value != corval) {
            //console.log('Current value: ' + value);
            corval = value;
            $("#cor").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });

      $("#cor").on("change paste keyup", function() {
        var val = parseFloat($("#cor").val());
        corSlider.slider("setValue", val);
      });
    };
  </script>

{% endblock %}
