{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Packet Corruption Settings
          </h1>
      </div>
  </div>
  <!-- /.row -->


  <form class="form-horizontal" action="{{ url_for('tc_corruption') }}" method="post" role="form">
    <div class="form-group">
      <label for="cor" class="col-sm-4 control-label">Packet Corruption in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="cor" id="cor" value="{{ corruption }}" step="any">
      </div>
      <div class="col-sm-6">
        <input id="corruption" data-slider-id='corruption-slider' type="number" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="{{ corruption }}"/>
      </div>
    </div>
    <div class="form-group">
      <label for="ccorr" class="col-sm-4 control-label">Correlation in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="ccorr" id="ccorr" value="{{ ccorr }}">
      </div>
      <div class="col-sm-6">
        <input id="corr" data-slider-id='approx-slider' type="number" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="{{ ccorr }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-primary btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="set">Set</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-danger btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="reset">Reset</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
    </div>
  </form>
  <script type="text/javascript">
    var corval = 0;
    var coval = 0; //correlation

    window.onload = function () {
      if ("{{ bridgeActive }}" == "False"){
        $('[data-toggle="tooltip"]').tooltip()
      }

      var corSlider = $('#corruption').slider({
      	formatter: function(value) {
          if (value != corval) {
            //console.log('Current value: ' + value);
            corval = value;
            $("#cor").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });
      var corrSlider = $('#corr').slider({
      	formatter: function(value) {
          if (value != coval) {
            //console.log('Current value: ' + value);
            coval = value;
            $("#ccorr").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });

      $("#cor").on("change paste keyup", function() {
        var val = parseFloat($("#cor").val());
        corSlider.slider("setValue", val);
      });
      $("#ccorr").on("change paste keyup", function() {
        var val = parseInt($("#ccorr").val());
        corrSlider.slider("setValue", val);
      });
    };
  </script>

{% endblock %}
