{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Packet Duplication Settings
          </h1>
      </div>
  </div>
  <!-- /.row -->


  <form class="form-horizontal" action="{{ url_for('tc_duplication') }}" method="post" role="form">
    <div class="form-group">
      <label for="dup" class="col-sm-4 control-label">Packet Duplication in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="dup" id="dup" value="{{ duplication }}">
      </div>
      <div class="col-sm-6">
        <input id="duplication" data-slider-id='duplication-slider' type="number" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ duplication }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" name="action" value="set">Set</button>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-danger btn-block" name="action" value="reset">Reset</button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    var dupval = 0;

    window.onload = function () {
      var dupSlider = $('#duplication').slider({
      	formatter: function(value) {
          if (value != dupval) {
            //console.log('Current value: ' + value);
            dupval = value;
            $("#dup").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });

      $("#dup").on("change paste keyup", function() {
        var val = parseFloat($("#dup").val());
        dupSlider.slider("setValue", val);
      });
    };
  </script>

{% endblock %}
