{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Packet Duplication Settings
          </h1>
      </div>
  </div>
  <!-- /.row -->


  <form class="form-horizontal" action="{{ url_for('tc_duplication') }}" method="post" role="form">
    <div class="form-group">
      <label for="dup" class="col-sm-4 control-label">Packet Duplication in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="dup" id="dup" value="{{ duplication }}">
      </div>
      <div class="col-sm-6">
        <input id="duplication" data-slider-id='duplication-slider' type="number" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ duplication }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <label for="dcorr" class="col-sm-4 control-label">Correlation in %:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="dcorr" id="dcorr" value="{{ dcorr }}">
      </div>
      <div class="col-sm-6">
        <input id="corr" data-slider-id='approx-slider' type="number" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="{{ dcorr }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-primary btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="set">Set</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-danger btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="reset">Reset</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
    </div>
  </form>

  <script type="text/javascript">
    var dupval = 0;
    var coval = 0; //correlation

    window.onload = function () {
      if ("{{ bridgeActive }}" == "False"){
        $('[data-toggle="tooltip"]').tooltip()
      }

      var dupSlider = $('#duplication').slider({
      	formatter: function(value) {
          if (value != dupval) {
            //console.log('Current value: ' + value);
            dupval = value;
            $("#dup").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });
      var corrSlider = $('#corr').slider({
      	formatter: function(value) {
          if (value != coval) {
            //console.log('Current value: ' + value);
            coval = value;
            $("#dcorr").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });

      $("#dup").on("change paste keyup", function() {
        var val = parseFloat($("#dup").val());
        dupSlider.slider("setValue", val);
      });
      $("#dcorr").on("change paste keyup", function() {
        var val = parseInt($("#dcorr").val());
        corrSlider.slider("setValue", val);
      });
    };
  </script>

{% endblock %}
