{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Create New Bridge
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <ul class="list-unstyled">
    {% for bridge in currentBridges %}
    <li>{{ bridge }}</li>
    {% endfor %}
  </ul>

  <script>
    // With JQuery
    $('#ex1').slider({
    	formatter: function(value) {
    		return 'Current value: ' + value;
    	}
    });
  </script>

{% endblock %}
