{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Overview of current Bridge
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <ul class="list-unstyled">
    {% if currentBridge %}
      <li>Current Bridge: {{ currentBridge }}</li>
      <li>Contained Interfaces: {% for if in bridgedIfs %} {{ if }}, {% endfor %}</li>
      <li>Network Stats:</li>
      {% for stat in statsBridge %}
        <li> {{ stat }} </li>
      {% endfor %}
    {% else %}
      <li>No Bridge currently available!</li>
    {% endif %}
  </ul>

{% endblock %}
