{% extends "layout.html" %}
{% block body %}
  <!-- Page Heading -->

  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="page-header">
              Up/Down Speed Settings
          </h1>
      </div>
  </div>
  <!-- /.row -->


  <form class="form-horizontal" action="{{ url_for('tc_speed') }}" method="post" role="form">
    <div class="form-group">
      <label for="lo" class="col-sm-4 control-label">Up Speed in kbit:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="up" id="up" value="{{ up }}" step="any">
      </div>
      <div class="col-sm-6">
        <input id="slup" data-slider-id='up-slider' type="number" data-slider-min="0" data-slider-max="10000" data-slider-step="100" data-slider-value="{{ up }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <label for="down" class="col-sm-4 control-label">Down Speed in kbit:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="down" id="down" value="{{ down }}">
      </div>
      <div class="col-sm-6">
        <input id="sldown" data-slider-id='down-slider' type="number" data-slider-min="0" data-slider-max="10000" data-slider-step="100" data-slider-value="{{ down }}" data-slider-tooltip="hide"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-primary btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="set">Set</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
      <div class="col-sm-6">
        {% if not bridgeActive %}
          <span class="tool-tip btn-block" data-toggle="tooltip" data-placement="top" title="Please create a bridge">
        {% endif %}
            <button type="submit" class="btn btn-danger btn-block {% if not bridgeActive %}disabled{% endif %}" {% if not bridgeActive %}disabled{% endif %} name="action" value="reset">Reset</button>
        {% if not bridgeActive %}
          </span>
        {% endif %}
      </div>
    </div>
  </form>

  <script type="text/javascript">
    var upval = 0;
    var downval = 0;

    window.onload = function () {
      if ("{{ bridgeActive }}" == "False"){
        $('[data-toggle="tooltip"]').tooltip()
      }

      var upSlider = $('#slup').slider({
      	formatter: function(value) {
          if (value != upval) {
            //console.log('Current value: ' + value);
            upval = value;
            $("#up").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });
      var downSlider = $('#sldown').slider({
      	formatter: function(value) {
          if (value != downval) {
            //console.log('Current value: ' + value);
            downval = value;
            $("#down").val(value);
          }
      		return 'Current value: ' + value;
      	}
      });

      $("#up").on("change paste keyup", function() {
        var val = parseFloat($("#up").val());
        upSlider.slider("setValue", val);
      });
      $("#down").on("change paste keyup", function() {
        var val = parseInt($("#down").val());
        downSlider.slider("setValue", val);
      });
    };
  </script>

{% endblock %}
